<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    {{ test1 }}<br>
    {{ weapon_choice }}
    <br>
    {% for BS in bs_dict %}
        At Ballistic Skill:  {{ BS }}
        <table border="1">
        <tr>
        {% if type == "MC" %}
            <th>Armour</th><th>Damage normal</th><th>Damage by Marc</th>
        {% endif %}
        {% if type == "LA" %}
            <th>Armour</th><th>Damage</th>
        {% endif %}
        </tr>
        
        {% for armour in bs_dict[BS] %}
                       
                {% if type == "MC" %}
                    <tr>
                      <td>{{ armour }}</td><td>{{ bs_dict[BS][armour]['org'] }}</td><td>{{ bs_dict[BS][armour]['marc'] }}</td>
                    </tr>
                {% endif %}
                
                {% if type == "LA" %}
                    <tr>
                      <td>{{ armour }}</td><td>{{ bs_dict[BS][armour]['la'] }}</td>
                    </tr>
                {% endif %}
               
        {% endfor %}
        
        </table>
        {{ armour }}    <br>
    {% endfor %}
        <form action="/" method="get">
            <div><input type="submit" value="Return"></div>
        </form>
    

  </body>
</html>
{% endautoescape %}