<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    {{ weapon_choice }}
    <br>
    At Ballistic Skill:  {{ BS }}
    <br><br>
    {% if type == "MC" %}
    <table border="1">
      <tr>
        <th>Armour</th><th>Damage normal</th><th>Damage by Marc</th>
      </tr>
      {% for dmg in dmg_query %}
        <tr>
          <td>{{ dmg.armour }}</td><td>{{ dmg.average_mc }}</td><td>{{ dmg.average_marc }}</td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    {% if type == "LA" %}
    <table border="1">
      <tr>
        <th>Armour</th><th>Damage</th>
      </tr>
      {% for dmg in dmg_query %}
        <tr>
          <td>{{ dmg.armour }}</td><td>{{ dmg.average_la }}</td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
    
    <form action="/" method="get">
        <div><input type="submit" value="Return"></div>
    </form>

  </body>
</html>
{% endautoescape %}